{% extends '/partials/base.html' %}
{% block title %} About {% endblock %}
{% block content %}
  <div class="container">
    <h1>About page</h1>
    <p>
      <br/>
      Welcome to the TODO application, a simple and efficient task management tool built with Flask! 
      <br/>
      <br/>
      This TODO application is powered by Flask, a lightweight and versatile web framework in Python. We've also utilized HTML, CSS, and JavaScript to provide you with a responsive and enjoyable user experience.
      <br/>
      <br/>
      This application was developed by "S.Surendra Varma" as a personal project. It's an open-source project, and you can find the source code on <a href="https://github.com/surendra2204/Flask-Project" target="_blank">Flask-Project</a>.
      <br/>
      <br/>
      We're continually working to improve and add new features, so stay tuned for updates!
      <br/>
      <br/>
      Thank you for choosing our TODO application to manage your tasks. We hope it simplifies your life and helps you achieve your goals!
      <br/>
      <br/>
    </p>
  </div>
{% endblock %}
